.customNav > a.navbar-brand > img {
    height: 150px;
    width: auto;
}

.customNav button:focus {
    outline: none;
}

.customNav button.navbar-toggler span > i {
    color: black;
    font-size: 30px;

}

.customNav ul.navbar-nav li.nav-item {
    margin-right: 100px;
}

.customNav ul.navbar-nav li.nav-item > a {
    color: gray
}

.customNav ul.navbar-nav li.nav-item.active > a {
    color: red;
    font-weight: bold;
    text-decoration: underline;
}

.customNav ul.navbar-nav li.nav-item > a:hover {
    color: orange;
    text-decoration: underline;
    font-weight: bold;
    transform: scale(1.2);
}

.customNav {
    justify-content: space-between;
}

}
/* media queries */
@media (max-width: 576px) {
    .customNav > a.navbar-brand > img {
        height: 100px;
    }
}

@media (max-width: 992px) {
    .customNav ul.navbar-nav li.nav-item {
        margin-left: 10px;
        margin-top: 20px;
       
    }

    .customNav ul.navbar-nav li.nav-item > a:hover {
        transform: scale(1)
    }
}