/* Navbar CSS */
.customNav {
    background-color: none;
  }
  
  .customNav li.nav-item.active {
    color: rgb(68, 72, 102);
    
  }
  
  .nav-link {
    font-family: arial;
    color: gray;
  }
  .customNav li.nav-item.active a {
    color: #EAB5B3;
  }
  
  .customNav li.nav-item.active a:hover{
    color: #EAB5B3;
  }
  
  .customNav li.nav-item a:hover {
    color: #EAB5B3;
  }
  
  /* ==== project gallery card section ===*/
  .projectGalleryContainer .btn:focus {
    outline: none;
    box-shadow: none;
  }
  
  .projectGalleryContainer {
    margin: 20px 0;
  }
  
  /* section title */
  .sectionTitle {
    margin: 30px 0 0 0;
  }
  