.customNav > a.navbar-brand > img {
    height: 150px;
    width: auto;
}

.customNav button:focus {
    outline: none;
}

.customNav button.navbar-toggler span > i {
    color: grey;
    font-size: 30px;
}

.customNav ul.navbar-nav li.nav-item {
    margin-left: 100px;
}

.customNav ul.navbar-nav li.nav-item > a {
    color: gray
}

.customNav ul.navbar-nav li.nav-item.active > a {
    color: orange;
    font-weight: bold;
    text-decoration: underline;
}

.customNav ul.navbar-nav li.nav-item > a:hover {
    color: red;
    text-decoration: underline;
    font-weight: bold;
    transform: scale(1.2);
}

.customNav {
    justify-content: space-between;
}

/* media queries */
@media (max-width: 576px) {
    .customNav > a.navbar-brand > img {
        height: 100px;
    }
}

@media (max-width: 992px) {
    .customNav ul.navbar-nav li.nav-item {
        margin-left: 10px;
        margin-top: 20px;
    }

    .customNav ul.navbar-nav li.nav-item > a:hover {
        transform: scale(1)
    }
}
/* Resume Containers, Divs, and decoration */
div.container-fluid.myResume {
    padding: 20px;
    max-width: 1300px;
}


/* ==== project gallery card section ===*/
.projectGalleryContainer .btn:focus {
    outline: none;
    box-shadow: none;
}

.projectGalleryContainer {
    margin: 20px 0;
}

/* section title */
.sectionTitle {
    color: black;
}

h1.sectionTitle {
    font-display: flex;
    padding-top: 30px;
    font-weight: bolder!important;
    font-size: 36px!important;
    color: black;
}
   
/* project card */
.projectCard {
    margin-bottom: 20px;
}

.projectCard>img {
    width: 100%;
    object-fit: cover;
    height: 250px;
}

.projectCard .card-title {
    font-weight: bold;
    text-transform: capitalize;
    color: #34af95;
    text-decoration: underline;
}

a.viewProjectBtn {
    background-color: orange;
    color: white;
    font-weight: bold;
    border: 1px solid transparent;
}

a.viewProjectBtn:hover {
    background-color: transparent;
    border: 1px solid orange;
    color: orange;
}


/* modal */
.customModal .modal-header {
    border-bottom: 0px;
    background-color: #34af95;
}

.customModal .modal-header h5 {
    color: white;
    text-transform: uppercase;
    letter-spacing: 20px;
}

.customModal .modal-header button {
    color: white;
    opacity: 1;
}

.customModal .modal-header button:hover {
    transform: scale(2);
}

.customModal .modal-header button:focus {
    outline: none;
}

.customModal .modal-body {
    padding: 0
}

.customModal .carousel-indicators {
    margin: 20px 0;
}


/* carousel */
.customCarousel .carousel-item>img {
    width: 100%;
    object-fit: cover;
    height: 600px;
}

.customCarousel .carousel-caption h4 {
    font-weight: bold;
    font-style: italic;
    text-transform: capitalize;
    margin: 20px 0;
}

.customCarousel .carousel-caption span {
    color: orange;
    padding: 10px;
    opacity: 0.75;
}

.customCarousel .carousel-indicators li {
    border-radius: 50%;
    width: 15px;
    height: 15px
}

.customCarousel .carousel-indicators li:hover {
    background-color: orange;
    opacity: 1;
}

.customCarousel .carousel-indicators li.active {
    background-color: orange;
    opacity: 1;
}

.customCarousel .carousel-control-prev,
.customCarousel .carousel-control-next {
    opacity: 1;
}

.customCarousel a span:first-child i {
    color: orange;
    font-size: 30px;
}

.customCarousel a span:first-child i:hover {
    transform: scale(2);
}



/* ==== multi items carousel slider ===== */
#muliCarousel .carousel-inner .carousel-item img {
    height:250px;
    object-fit: cover;
    width: 100%;
}

#muliCarousel .carousel-inner .carousel-item.active,
#muliCarousel .carousel-inner .carousel-item-next,
#muliCarousel .carousel-inner .carousel-item-prev {
    display: flex;
}

#muliCarousel .carousel-inner .carousel-item-right.active,
#muliCarousel .carousel-inner .carousel-item-next {
    transform: translateX(25%) !important;
}

#muliCarousel .carousel-inner .carousel-item-left.active,
#muliCarousel .carousel-inner .carousel-item-prev {
    transform: translateX(-25%) !important;
}

#muliCarousel .carousel-inner .carousel-item-right,
#muliCarousel .carousel-inner .carousel-item-left {
    transform: translateX(0) !important;
}

#muliCarousel .carousel-control-prev,
#muliCarousel .carousel-control-next {
    opacity: 1;
}

#muliCarousel a span:first-child i {
    font-size: 50px;
}

/* ==== footer section ===== */
.footer {
    text-align: center;
}

.footer a:focus,
.footer a span>i:focus {
    outline: none;
    box-shadow: none;
}

.footer a span>i {
    color: black;
    font-size: 50px;
    margin-bottom: 20px;
}

/* custom tool tip */
.tooltip-inner {
    background-color: #34af95 !important;
}

.bs-tooltip-right .arrow::before {
    border-right-color: #34af95 !important;
}


/* === Media Queries ==== */
@media (max-width: 576px) {

    #muliCarousel .carousel-inner .carousel-item-right.active,
    #muliCarousel .carousel-inner .carousel-item-next {
        transform: translateX(50%) !important;
    }

    #muliCarousel .carousel-inner .carousel-item-left.active,
    #muliCarousel .carousel-inner .carousel-item-prev {
        transform: translateX(-50%) !important
    }

    #muliCarousel .carousel-inner .carousel-item-right,
    #muliCarousel .carousel-inner .carousel-item-left {
        transform: translateX(0) !important;
    }
}

@media (min-width: 576px) and (max-width: 768px) {

    #muliCarousel .carousel-inner .carousel-item-right.active,
    #muliCarousel .carousel-inner .carousel-item-next {
        transform: translateX(33.33%) !important;
    }

    #muliCarousel .carousel-inner .carousel-item-left.active,
    #muliCarousel .carousel-inner .carousel-item-prev {
        transform: translateX(-33.33%) !important
    }

    #muliCarousel .carousel-inner .carousel-item-right,
    #muliCarousel .carousel-inner .carousel-item-left {
        transform: translateX(0) !important;
    }
}