/* Navbar CSS */
.customNav {
  background-color: none;
}

.customNav li.nav-item.active {
  color: rgb(68, 72, 102);
}

.nav-link {
  font-family: arial;
  color: gray;
}

.customNav li.nav-item.active a {
  color: rgb(68, 72, 102);
}

.customNav li.nav-item.active a:hover {
  color: #EAB5B3;
  font-weight: bold;

}

.customNav li.nav-item a:hover {
  color: #EAB5B3;
  font-weight: bold;
}

/* ==== project gallery card section ===*/
.projectGalleryContainer .btn:focus {
  outline: none;
  box-shadow: none;
}

.projectGalleryContainer {
  margin: 20px 0;
}

/* section title */
.sectionTitle {
  margin: 30px 0 0 0;
}


.sectionTitle {
  color: rgb(68, 72, 102);
  background-color: white;
  border-bottom: 4px solid rgb(68, 72, 102);
  border-top: 4px solid rgb(68, 72, 102);
  margin-bottom: 25px;
  padding-top: 20px;
  text-align: center;
  margin: 50px auto;
}

h1.mainHeader {
  font-family: impact;
  font-weight: bold;
  color: rgb(68, 72, 102);
  text-align: center;
}

h5.card-title {
  font-family: Helvetica;
  font-size: 18px;
  font-weight: bold;
  color: rgb(68, 72, 102);
}

/* project card */

.projectCard {
  margin-bottom: 20px;
}

.projectCard>img {
  width: 100%;
  object-fit: cover;
  height: 250px;
}

.projectCard .card-title {
  font-weight: bold;
  font-family: Helvetica;
  text-transform: capitalize;
  color: rgb(68, 72, 102);
  text-decoration: underline;
}


.card-title {
  font-family: Arial;
  font-weight: bold;
  color: rgb(68, 72, 102);
}

.card-text {
  font-family: helvetica;
  color: rgb(68, 72, 102);
}

a.viewProjectBtn {
  background-color: rgb(68, 72, 102);
  color: white;
  font-weight: bold;
  border: 1px solid transparent;
}

a.viewProjectBtn:hover {
  background-color: transparent;
  border: 1px solid rgb(68, 72, 102);
  color: rgb(68, 72, 102);
  w
}


/* modal */
.customModal .modal-header {
  border-bottom: 0px;
  background-color: #34af95;
}

.customModal .modal-header h5 {
  color: white;
  text-transform: uppercase;
  letter-spacing: 20px;
}

.customModal .modal-header button {
  color: white;
  opacity: 1;
}

.customModal .modal-header button:hover {
  transform: scale(2);
}

.customModal .modal-header button:focus {
  outline: none;
}

.customModal .modal-body {
  padding: 0
}

.customModal .carousel-indicators {
  margin: 20px 0;
}

/* ==== footer section ===== */
.footer {
  text-align: center;
}

.footer a:focus,
.footer a span>i:focus {
  outline: none;
  box-shadow: none;
}

.footer a span>i {
  color: rgb(68, 72, 102);
  font-size: 30px;
  margin-bottom: 20px;
}

/* custom tool tip */
.tooltip-inner {
  background-color: rgb(68, 72, 102)
}

.bs-tooltip-right .arrow::before {
  border-right-color: rgb(68, 72, 102);
}