/* ==== project gallery card section ===*/
.projectGalleryContainer .btn:focus {
    outline: none;
    box-shadow: none;
}

.projectGalleryContainer {
    margin: 20px 0;
}

.sectionTitle {
    font-weight: bold;
    font-family: impact;
    border-bottom: 6px double;
    border-top: 6px double;
    margin-bottom: 30px;
    padding-top: 5px;
    text-align: center;
    margin: 50px auto;
    font-family: Montserrat;
}

body {
    font-family: impact;
    color: black;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    background-color: #A6907C;
    background-clip: border-box;
    border: 1px solid #A6907C;
    border-radius: .25rem;
}

.projectCard {
    margin-bottom: 20px;
}

.projectCard>img {
    width: 100%;
    object-fit: cover;
    height: 250px;
}

.card-img,
.card-img-top {
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
}

.card-img,
.card-img-bottom,
.card-img-top {
    flex-shrink: 0;

}

img {
    vertical-align: middle;
    border-style: none;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;

}

.projectCard .card-title {
    font-weight: bold;
    color: black;
    text-decoration: underline;
    text-align: center;
}

.card-title {
    margin-bottom: .75rem;

}

.h5,
h5 {
    font-size: 1.25rem;

}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.2;
}



h5 {
    display: block;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-family: Montserrat;

}

h6 {
    font-family: Montserrat;
    color: grey;
}


p {
    margin-top: 0;
    margin-bottom: 1rem;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-family: Montserrat;
    text-align: center;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;

}

a.btn-primary {
    background-color: #F2E8DF;
    color: #978070;
    font-weight: bold;
    border: 1px solid transparent;

}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;

}

a {
    text-decoration: none;

}


.customCarousel .carousel-item>img {
    width: 100%;
    object-fit: scale-down;
    height: 800px;
}

ol.carousel-indicators li,
ol.carousel-indicators li.active {
    border-radius: 100%;

}

img {
    vertical-align: middle;
    border-style: none;
}

.form-group {
    font-family: Haboro Contrast;
}