.footer {
    text-align: center;
}

.footer a:focus,
.footer a span>i:focus {
    outline: none;
    box-shadow: none;
}

.footer a span>i {
    color: orange;
    font-size: 50px;
    margin-bottom: 20px;
}
